<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Froggy Tap</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="close"></ion-icon>
      <ion-label>BKS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabMenu">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabRPS">
      <ion-icon name="cut"></ion-icon>
      <ion-label>STP</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabScore">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Scorebord</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
