<ion-header>
  <ion-toolbar>
    <ion-title>Scorebord</ion-title>
    <ion-select class="ion-padding-horizontal" interface="popover"
                slot='end' [(ngModel)]='selectedMinigameFilter'>
      <ion-select-option *ngFor='let f of filtersMinigames' [value]="f">
        {{f}}
      </ion-select-option>
    </ion-select>
    <ion-select class="ion-padding-horizontal" interface="popover"
                slot='end' [(ngModel)]='selectedStateFilter'>
      <ion-select-option *ngFor='let f of filtersState' [value]="f">
        {{f}}
      </ion-select-option>
    </ion-select>
  </ion-toolbar>
  <hr>
<ion-toolbar>
  <ion-select class="ion-padding-horizontal" interface="popover"
              slot='end' [(ngModel)]='selectedScoreFilter'>
    <ion-select-option *ngFor='let f of filterScores' [value]="f">
      {{f}}
    </ion-select-option>
  </ion-select>
  <ion-select class="ion-padding-horizontal" interface="popover"
              slot='end' [(ngModel)]='selectedModeFilter'>
    <ion-select-option *ngFor='let f of filterModes' [value]="f">
      {{f}}
    </ion-select-option>
  </ion-select>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines='full' *ngIf="scoreService.getAllScores().length !== 0; else noScores">
    <app-score
      *ngFor='let s of scoreService.getAllScores()'
      [score]='s'>
    </app-score>
  </ion-list>
</ion-content>
<ng-template #noScores>
<span>Geen scores gevonden! Speel een minigame om ze hier te zien!</span>
</ng-template>
