<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabRPS"></ion-back-button>
    </ion-buttons>
    <ion-title>Namen kiezen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-label><h1>Wie gaat er spelen?</h1></ion-label>
  <form [formGroup]="ionicForm" (ngSubmit)="goToRpsArena()" novalidate>
    <ion-row class="ion-align-items-center titleRow">
      <ion-col size="6">
        <ion-label>Speler 1</ion-label>
        <ion-input placeholder="Bob" formControlName="playerOne"></ion-input>

      </ion-col>
      <ion-col size="6">
        <ion-label>{{minigameData.vsAi === true ? "Speler 2 (Ai)" : "Speler 2"}}</ion-label>
        <ion-input placeholder="Sandy" formControlName="playerTwo"></ion-input>
      </ion-col>
      <ion-button class="ion-color-primary" type="submit">Engarde!</ion-button>
    </ion-row>
  </form>
</ion-content>
