<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="arena">
  <ion-row>
    <ion-col size="12">
      <h1>Welkom bij de arena!</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-label>{{this.scoreData.currentScoreInRpsMatch.playerOneName}} versus {{this.scoreData.currentScoreInRpsMatch.playerTwoName}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-label>Modus: {{this.minigameData.getCurrentGamemodeName()}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-label>{{minigameData.getCurrentPlayerTurn() === true ? this.scoreData.currentScoreInRpsMatch.playerOneName + ", kies een wapen!"
        : this.scoreData.currentScoreInRpsMatch.playerTwoName + ", kies een wapen!"}}</ion-label>
    </ion-col>
  </ion-row>
  <app-rps></app-rps>
</ion-content>

