<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Versus Speler</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-row>
      <h1>Wat kan je verwachten?</h1>
      <ion-col size="12">
        <ion-label>In deze modus, neem jij het lokaal op tegen een andere menselijke speler om te zien wie elkaar beter kent!</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-button class="ion-color-primary" (click)="goToChooseName()">Klik hier om te starten!</ion-button>
      </ion-col>
    </ion-row>
  </ion-content>
</div>
