<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">MINIGAME MENU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="margin: 5px">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button>
          <ion-icon slot="start" name="person"></ion-icon>
          Log in
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-icon name="cog" style="font-size: 48px;" class="ion-float-right"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" style="margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);">
      <div class="ion-text-center" style="font-size: 28px">
        <ion-text>Laatst gespeelde minigame:</ion-text>
      </div>
      <div class="ion-text-center" style="font-size: 24px; ">
        <ion-text>Schaar, steen, papier!</ion-text>
      </div>
    <div class="ion-justify-content-center" style="display:flex; vertical-align: middle;">
    <ion-icon name="cut" style="font-size: 128px;" ></ion-icon>
    </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
